<nav class="app-nav">
    <span class="app-brand">BgArena</span>
    <NavLink href="" Match="NavLinkMatch.All">Engines</NavLink>
    <NavLink href="matches">Matches</NavLink>
    <NavLink href="tournaments">Tournaments</NavLink>
</nav>
